<div class="header">
    <ul>
        <li><a class="active" href="index.php">Home</a></li>
        <li class="dropdown"><a href="index.php?CatId=1" class="dropbtn">Samsung</a>
            <div class="dropdown-content">
                <a href="index.php?pId=A&CatId=1">Galaxy A</a>
                <a href="index.php?pId=F&CatId=1">Galaxy Fold</a>
                <a href="index.php?pId=S&CatId=1">Galaxy S</a>
                <a href="index.php?pId=N&CatId=1">Galaxy Note</a>
            </div>
        </li>
        <li style="float: right;">
            <a href="register.php">Regsiter</a>
        </li>
        <li style="float: right;">
            <a href="login.php">Login</a>
        </li>
</div>
<div style="padding:20px;margin-top:30px;"></div>