<div class="header">
    <ul>
        <li><a class="active" href="#">Home</a></li>
        <li class="dropdown"><a href="#" class="dropbtn">Samsung</a>
            <div class="dropdown-content">
                <a href="#">Galaxy A</a>
                <a href="#">Galaxy Fold</a>
                <a href="#">Galaxy S</a>
                <a href="#">Galaxy Note</a>
            </div>
        </li>
        <li style="float: right;">
            <a href="#">Regsiter</a>
        </li>
        <li style="float: right;">
            <a href="#">Login</a>
        </li>
</div>
<div style="padding:20px;margin-top:30px;"></div>