<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/mystyle.css" rel="stylesheet" />
    <title>Loign</title>
</head>

<body>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <table style="margin: 0 auto;">
            <form action="" method="POST">
                <tr>
                    <td colspan="2">Login</td>
                </tr>
                <tr>
                    <td>User Name</td>
                    <td><input type="text" name="un" required></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="pass" required></td>
                </tr>
                <tr>
                    <td><input type="submit" value="login"></td>
                    <td><input type="reset" value="reset"></td>
                </tr>
            </form>
        </table>
    </div>

</body>

</html>